body{
    background-image: url(../IMG/coffe_cup_preview_01.jpg6e737ca4-a947-4afb-8073-7748907cba17Original.jpg);
    background-size: 100%,100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}