.move{
  background-color: beige;
  color: black;
}
#nve{
  margin-left: 700px;
}
.position{

  background-size:100px,100px;
  background-attachment: fixed;




}
#nameLink{
  font-family: 'Dancing Script', cursive;
}
.navbar-brand{
  color: black;
}
.dropdown-toggle{
  color: black;

}
em{
  color:yellow;
}
#push{
  margin-left: 20px;
}
#welcome{ margin-top: 80px;
          text-align: center;
          color: white;
          font-size: 70px;




}
#cool{  text-align: center;
        color: white;
        font-size: 50px;

}
#image img{
  background-size: 100px,100px;
  background-attachment: fixed;
}




